geobuild/cache/
geobuild/shots/
nvgkbuild/cache/
nvgkbuild/shots/
node_modules
package-lock.json
/out.png
puttombuild/cache/
puttombuild/shots/
angsobuild/cache/
angsobuild/shots/
upsalabuild/cache/
upsalabuild/shots/
johannesbergbuild/cache/
johannesbergbuild/shots/
node_modules/
apps/golf/dist/
tools/.lint-app-config.mjs
